

/* ===== Primary Styles ========================================================
   Author:
   ========================================================================== */
  
@font-face {
    font-family: 'CooperStdBlackRegular';
    src: url('../fonts/cooperblackstd-webfont.eot');
    src: url('../fonts/cooperblackstd-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/cooperblackstd-webfont.woff') format('woff'),
         url('../fonts/cooperblackstd-webfont.ttf') format('truetype'),
         url('../fonts/cooperblackstd-webfont.svg#CooperStdBlackRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body{
	background-color:#39230E;
}

.navbar-inner {
  min-height: 40px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #D12828;
  background-image: -moz-linear-gradient(top, #D12828, #BE2828);
  background-image: -ms-linear-gradient(top, #D12828, #BE2828);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#D12828), to(#BE2828));
  background-image: -webkit-linear-gradient(top, #D12828, #BE2828);
  background-image: -o-linear-gradient(top, #D12828, #BE2828);
  background-image: linear-gradient(top, #D12828, #BE2828);
  background-repeat: repeat-x;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#D12828', endColorstr='#BE2828', GradientType=0);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
     -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
}

.navbar .nav > li > a {
  float: none;
  padding: 9px 10px 11px;
  line-height: 19px;
  color: #ffffff;
  text-decoration: none;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.navbar .nav > li > a:hover {
  color: #ffffff;
  text-decoration: none;
  background-color: transparent;
}


.navbar .btn-navbar {
  background-color: #aa2828;
  background-image: -ms-linear-gradient(top, #aa2828, #992828);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#aa2828), to(#992828));
  background-image: -webkit-linear-gradient(top, #aa2828, #992828);
  background-image: -o-linear-gradient(top, #aa2828, #992828);
  background-image: linear-gradient(top, #aa2828, #992828);
  background-image: -moz-linear-gradient(top, #aa2828, #992828);
}

/*.navbar .btn-navbar .icon-bar {
  display: block;
  width: 18px;
  height: 2px;
  background-color: #f5f5f5;
  -webkit-border-radius: 1px;
     -moz-border-radius: 1px;
          border-radius: 1px;
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
     -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
}*/

.row .span1, .row .span4, .row .span6{
	/*margin-left: 0px;*/
	margin:0px 0px 20px 20px;
	height:100%;
}

.row .span1{
	width:340px;
}

.hero-unit{
	background-color:transparent;
	color:#FEF500;
	padding: 10px 0px;
}

.hero-unit #likegroup{
	float:right;
	position: relative;
	z-index: 200;
	width: 300px;
}

.hero-unit #likegroup .fb-like iframe{
	margin-top: -3px;	
}

.hero-unit #mascot{
	width:35%;
	float:left;
}

.hero-unit h1, .hero-unit p{
	float:left;
	width:65%;
}

.hero-unit h1{
	font-size:120px;
	font-family: 'CooperStdBlackRegular';
	text-shadow: 3px 2px -1px #E58620, -3px -2px 5px #333;
	margin-bottom:10px;
}

.hero-unit h1 #wordone{
	font-size: 50px;
	text-transform: uppercase;
	letter-spacing: 10px;
}

.hero-unit h1 #wordtwo{
	font-size: 110px;
	text-transform: uppercase;
	letter-spacing: 10px;
}
.hero-unit h1 #wordthree{
	font-size: 130px;
	text-transform: uppercase;
	letter-spacing: 10px;
}

.hero-unit p{
	margin-left: 30px;
	text-transform: uppercase;
	width: 55%;
	font-size: 30px;
	letter-spacing: 1px;
	line-height: 34px;
	max-width:520px;
}

.row .flexslider{
	background-color:#533F20;
	border-color:#533F20;
	padding:5px 15px 25px 15px;;
	height:100%;
	width:300px;
	min-height:350px;
}

.row .flexslider h2{
	color:#FEF500;
	font-size: 22px;
	margin-bottom: 10px;
	float:left;
}

.row .flexslider .sharegroup, .row .flexslider .locations{
	float:right;
	margin-top: 2px;
}

.row .flexslider .locations{
	margin-right: 5px;
	color: #FEF500;
	font-size: 14px;
}

.row .flexslider .locations a, .row .flexslider .locations a:hover{
	color: #FEF500;
	font-size: 14px;
	text-decoration:none;
}

.row .flexslider .flex-viewport{
	clear:both;
}

.flex-control-nav {
	width: 100%;
	position: absolute;
	bottom: 0px;
	text-align: center;
	margin-left: -20px;
}

.btn{
	background-color:#39230E;
	background-image:none;
	text-shadow: none;
}

.btn:hover{
	background-color:#533F20;
	background-color:#39230E;
	background-image:none;
}

.btn-group.open .btn.dropdown-toggle {
	background-color:#533F20;
}

.dropdown-menu {
	background-color:#ebddc8;
	margin-left:-120px;
	color:#39230E;
}

.dropdown-menu a{
	color:#39230E;
	font-weight:bold;
}

.dropdown-menu li > a:hover, .dropdown-menu .active > a, .dropdown-menu .active > a:hover {
	color: #FEF500;
	text-decoration: none;
	background-color: #39230E;
}

.caret {
	border-top: 4px solid #FEF500;
	opacity: 1;
}

@media (max-width: 480px) {
	
	body{
		padding-left:5px;
		padding-right:5px;
		width:300px;
	}
	
	.hero-unit, footer{
		width:300px;
	}
	
	.hero-unit #likegroup{
		margin-bottom:10px;
	}
	
	.row .span1, .row .span4, .row .span6 {
		margin: 0px 0px 20px 0px;
	}
	
	.row .span1, .row .flexslider{
		width:270px;
	}
	
	.row .flexslider h2{
		font-size: 16px;
		padding-top: 12px;
		margin-bottom:0px;
	}
	
	.hero-unit h1{
		font-size:40px;
	}
	.hero-unit p{
		font-size:10px;
		line-height: 14px;
		max-width:150px;
		margin-left: 10px;
		letter-spacing: 0px;
	}
	.hero-unit h1 #wordone{
		font-size: 18px;
		letter-spacing: 4px;
	}
	
	.hero-unit h1 #wordtwo{
		font-size: 37px;
		letter-spacing: 7px;
	}
	.hero-unit h1 #wordthree{
		font-size: 40px;
		letter-spacing: 10px;
	}
}

@media (min-width: 480px) and (max-width: 640px) {
	.hero-unit h1{
		font-size:60px;
	}
	.hero-unit p{
		font-size:17px;
		line-height: 19px;
		max-width:305px;
		margin-left: 20px;
	}
	.hero-unit h1 #wordone{
		font-size: 24px;
		letter-spacing: 4px;
	}
	
	.hero-unit h1 #wordtwo{
		font-size: 55px;
		letter-spacing: 7px;
	}
	.hero-unit h1 #wordthree{
		font-size: 60px;
		letter-spacing: 10px;
	}
}

@media (min-width: 640px) and (max-width: 979px) {
	.hero-unit h1{
		font-size:60px;
	}
	.hero-unit p{
		font-size: 22px;
		line-height: 25px;
		max-width: 400px;
		margin-left: 20px;
	}
	.hero-unit h1 #wordone{
		font-size: 40px;
		letter-spacing: 4px;
	}
	
	.hero-unit h1 #wordtwo{
		font-size: 86px;
		letter-spacing: 7px;
	}
	.hero-unit h1 #wordthree{
		font-size: 95px;
		letter-spacing: 10px;
	}
}

#fb-root{
	clear:both;
}


footer a{
	display: block;
    padding: 6px 10px;
    color:#FEF500;
    text-decoration: none;
}

footer a:hover{
    color:#E58620;
}

footer #addtopage{
	float: left;
	font-size:12px;
}

footer #gzlink{
	float:right;
	text-align: right;
	font-family: 'CooperStdBlackRegular';
	font-size:18px;
}
