/* Mobile Web ----------- */

#btncomments{
	/*visibility: hidden;*/
}

#locationoptions .showcheckin, #home .showuserprofile, #prize .showcheckin{
	display:none;
}

.panel .header a.showwebsite, .panel .header a.showinfo {
	margin-right: 0px;
}

.panel .header a.showuserlocation {
	margin-right: 75px;
}

.popup {
	-webkit-box-shadow: 0px 0px 100px 50px rgba(0,0,0,0.7);
	box-shadow: 0px 0px 100px 50px rgba(0,0,0,0.7);
}

.panel h1 span.dsk{
	display:none;
}
.panel h1 span.mob{
	display:inline;
}

